// colors

$mint: #f1f9f2; 
$gray: #444444; 
$light-gray: #999999;
$purple: #47374e;
$sky: #ebf1f8;  
$orange: #df7f58;
$white: #ffffff; 

// fonts 
/* Import Google Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap');

$primary-font: 'Alegreya', 'PT Sans', sans-serif;
$secondary-font: Arial, Helvetica, sans-serif;
